html {
    background-color: #ff85c1; 
    font-size: 14px;
    width: 100%;
}

h1 { font-size: 3rem; }
h2 { font-size: 1.5rem; }

#page {
    width: 85%;
    margin: 20px auto;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}

.entete {
    text-align: center;
}

#aboutme {
    padding: 10px;
}

footer {
    text-align: center;
}
